<!--including clubId in class field so we'll be able to identify which club is bein click -->
<div class="club container current_discussion" clubId="{{clubId}}">
    <div class="row cur_disc_row">
        <div class="col l1 s1 offset-1 film-strip">
            <img class="film-sidebar">
        </div>
        <div class="col l8 s8 main-col ">
            <h4 class="black-text">{{name}} </h4>
            <h5>Description:</h5>
            <p>{{description}}</p>
        </div>

    </div>
</div>
