<!--including discussionId in class field so we'll be able to identify which club is being click -->
<div class="discussion container " discussionId="{{discussionId}}">
    <div class="row discussions_cards">
        <div class="col l1 s1 offset-1 film-strip">
        </div>
        <div class="col l11 s11 disc-col">
            <h4 class="black-text">{{movie}} </h4>
            <h5>Description:</h5>
            <p>{{text}}</p>
        </div>
    </div>
</div>
