<!--including discussionId in class field so we'll be able to identify which club is being click -->
<div class="discussion container" discussionId = "{{discussionId}}">
        <div class="row">
            <div class="col l12 s10">
                <h4 class="discussion-title">{{title}} </h4>
                <h5 class="white-text">Description:</h5>
                <p class="white-text">{{text}}</p>
            </div>
            <div class="col l4 s4 valign-wrapper" id="poster">
                {{!-- ?? How to link image from url href ?? --}}
                {{!-- <img class="responsive-img poster" src="{{}}"> --}}
            </div>
        </div>
    </div>

<ul>
    {{>discussion-card }}
</ul>