<div class="posts" poster="{{poster}}">

    <div class="post container" postId="{{postId}}">

        <ul>
            <div class="row single-post">
                <div class="col l8 s8">
                    <h4 class="black-text">Post Title: {{title}} </h4>
                    <h5>User's text:</h5>
                    <p>{{text}}</p>
                </div>
            </div>
        </ul>
    </div>
</div>