<div class="posts" poster="{{poster}}">

    <div class="post container" postId="{{postId}}">

        <ul>
            <div class="row single-post">
                <div class="profile col l1">
                    <i class="fas fa-user-circle fa-4x"></i>
                </div>
                <div class="col l8 s8">
                    <h5 class="black-text">Post Title: {{title}} </h5>
                    <p>User's text: {{text}}</p>
                </div>
            </div>
        </ul>
    </div>
</div>