
{{!-- Add a new movie to discuss. This happens when you are already on a club's page. Potentially only for Moderator/Logged In User --}}

<h2>Add a movie for your club to discuss</h2>


{{!-- Form to add a new club --}}
<div class="container form_new_movie">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Movie to discuss" id="new_movie" type="text" class="validate">
          <label for="club_name">Movie Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Year of movie (optional)" id="movie_year" type="text" class="validate">
          <label for="club_name">Year</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="new_club_description"> Please  provide a briefdescription of what this club will be focusing on </label>
        </div>
      </div>
      <div class="row">
          <div class="start-date col l6 s12">Discussion Starts: 
               <input type="text" class="datepicker">
          </div>
          <div class="end-date col l6 s12">Discussion Ends: 
               <input type="text" class="datepicker">
          </div>
      </div>
      <button data-target="modal1" class="btn waves-effect waves-light modal-trigger" type="submit" id="add_movie_btn">Add Movie!
        <i class="fas fa-video"></i>
      </button>
    </form>
  </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Confirm Movie</h4>
        <h6 id="confirm-movie-title"></h6>
        <h6 id="confirm-movie-year"></h6>
        <div class="poster"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">That's my movie!</a>
    </div>
</div>