
{{!-- Add a new movie to discuss. This happens when you are already on a club's page. Potentially only for Moderator/Logged In User --}}

<h1 class="heading">New Movie Discussion</h1>


{{!-- Form to add a new club --}}
<div class="container form_new_movie">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="new_movie" type="text" class="validate white-text">
          <label for="club_name">Movie Name</label>
        </div>
        <div class="input-field col s6">
          <input id="new_disc" type="text" class="validate white-text">
          <label for="club_name">Discussion Topics</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea white-text validate"></textarea>
          <label for="new_club_description"> Brief description of what this club will be discussing </label>
        </div>
      </div>
      <div class="row">
          <div class="start-date col l6 s12">
               <input type="text" class="datepicker validate">
               <label for="dtp">Start Date</label>
          </div>
          <div class="end-date col l6 s12"> 
               <input type="text" class="datepicker validate">
                <label for="dtp">End Date</label>
          </div>
      </div>
    </form>
    <div class="center-align">
      <button class="btn waves-effect waves-light" type="submit" id="add_movie_btn" name="action">Add Movie!
        <i class="fas fa-video"></i>
      </button>
      </div>
  </div>
</div>


<script>
</script>

