{{!-- Add a new movie to discuss. This happens when you are already on a club's page. Potentially only for
Moderator/Logged In User --}}

<h1 class="heading">New Movie Discussion</h1>


{{!-- Form to add a new club --}}
<div class="container form_new_movie">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="new_movie" type="text" class="validate white-text">
          <label for="club_name">Movie Name</label>
        </div>
        <div class="input-field col s6">
          <input id="movie_year" type="text" class="validate white-text">
          <label for="club_name">Year of Movie (optional)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="discussion-title" class="materialize-textarea white-text validate"></textarea>
          <label for="new_club_description"> Please provide a title for your movie discussion
          </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="movie-description" class="materialize-textarea white-text validate"></textarea>
          <label for="new_club_description"> Please provide a brief description of what this movie discussion will be focusing on
          </label>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="start-date col l6 s12">
      <input type="text" class="datepicker validate" id="start-date">
      <label for="dtp">Start Date</label>
    </div>
    <div class="end-date col l6 s12">
      <input type="text" class="datepicker validate" id="end-date">
      <label for="dtp">End Date</label>
    </div>

    <button data-target="modal1" class="btn waves-effect waves-light modal-trigger" type="submit" id="add_movie_btn">Add
      Movie!
      <i class="fas fa-video"></i>
    </button>
  </div>
</div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Confirm Movie</h4>
    <p id="confirm-movie-title"></p>
    <p id="confirm-movie-year"></p>
    <p id="confirm-movie-plot"></p>
    <div class="poster"></div>
    <p id="confirm-discussion-title"></p>
    <p id="confirm-discussion"></p>
    <p id="confirm-start-date"></p>
    <p id="confirm-end-date"></p>
  </div>
  <div class="modal-footer">
    <a href="#!" id="add_discussion_btn" class="modal-close waves-effect waves-green btn-flat">That's my movie!</a>
  </div>
</div>