{{!-- Form to add a new club --}}
<h1 class="heading">Create a New Club</h1>
<div class="container form_new_club">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="New Club Name" id="new_club" type="text" class="validate">
          <label for="club_name">Club Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="new_club_description" class="materialize-textarea"></textarea>
          <label for="new_club_description"> Please provide a briefdescription of what this club will be focusing on
          </label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" id="add_club_btn" name="action">Add Club
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>