<!--Title-->
<div class="club-title"></div>
<!--description-->
<div class="club-description"></div>
<!--Join Club-->
<div class="join-club"></div>
<!--Add Movie Button-->
<div class="add-movie"></div>
<!--Now Showing-->
<div class="now-showing"></div>
<!--Previous Films-->
<div class="prev-films"></div>
{{!-- to access partial --}}
{{!-- {{<club-card }} --}} 

    <ul>
    {{#each discs}}
    {{>discussion-card}}
    {{/each }}
    </ul>

<script src="/js/club.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
