<!--Title-->
<div class="club-title">Club Title Here</div>
<!--description-->
<div class="club-description">A short description of what main topics the club will focus on.</div>
<!--Join Club-->
<div class="join-club"></div>
<!--Add Movie Button-->
<div class="add-movie"></div>
<!--Now Showing-->
<div class="now-showing"></div>
<!--Previous Films-->
<div class="prev-films"></div>
{{!-- to access partial --}}
{{!-- {{<club-card }} --}} 
    <ul>
        test
    {{#each discs}}
    {{>discussion-card}}
    {{/each }}
    </ul>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/club.js"></script>
