{{!-- Form to add a new user --}}
<div class="container form_new_user">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Username" id="new_user" type="text" class="validate">
          <label for="user_name">New Username</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" id="add_user_btn" name="action">Create Profile
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/create-user.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>