<div class="container discussion_con">
  <div class="row">
    <div class="col l2 s2 offset-2"></div>
    <div class="col l8 s8 ind_discussion">
      <div class="display_box">
        <h3 class="showing-text">Now Showing</h3>
      </div>
      <div class="showing-info">
        <h3>{{userComment.movie}}</h3>
        <img class="responsive-img poster" src={{userComment.moviePoster}}>
        <h5>Discussion Starts:</h5>
        <p>{{userComment.startDate}}</p>
        <h5>Discussion Ends:</h5>
        <p>{{userComment.endDate}}</p>
      </div>
    </div>
  </div>
</div>

<div class="ind_posts">
  {{#each userComment.Posts}}
  {{>post-card}}
  {{/each}}
</div>

{{!-- Form to add a comment post req to database --}}
<div class="container form_post">
  <form class="post_form">
    <div class="row">
      <div class="input-field col s6">
        <input id="post_title" type="text" class="validate white-text">
        <label for="first_name">Post Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="post_text" class="materialize-textarea white-text validate"></textarea>
        <label for="textarea1">Post Text</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" id="submit_post" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>