     
      <div class="container discussion">
        <div class="row">
          <div class="col l1 s1 offset-1 film-strip"></div>
          <div class="col l7 s7">
            <h4 class="black-text"></h4>
            <h5>Now Showing:{{userComment.movie}}</h5>
            <h5>Discussion Starts:</h5>
            <p>{{userComment.startDate}}</p>
            <h5>Discussion Ends:</h5>
            <p>{{userComment.endDate}}</p>

            {{#each userComment.Posts}}
              {{>post-card}}
            {{/each}}
          </div>
          <div class="col l4 s4 valign-wrapper" id="poster">
            <img class="responsive-img poster" src="/public/images/film.jpg">
          </div>
        </div>
      </div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
