
      

      <div class="container discussion">
        <div class="row">
          <div class="col l1 s1 offset-1 film-strip"></div>
          <div class="col l7 s7">
            <h4 class="black-text">Club Name </h4>
            <h5>Now Showing:</h5>
            <p>Current Movie Being Discussed</p>
            <h5>Discussion starts:</h5>
            <p>MM/DD</p>
          </div>
          <div class="col l4 s4 valign-wrapper" id="poster">
          </div>
        </div>
      </div>
      </a>


{{!-- title, summary --}}

{{!-- {{discussion posts}} --}}

{{#each posts}}
{{!-- Pretty sure this is incorrect - do we need the post partial since it's only holding a little bit of info? --}}
    {{> partials/post-card }}
{{/each }}