{{!-- Name for database query variable = club   --}}
  

  <!-- All Movie Clubs -->
  <div class="container">
    <div class="section">

      <!--   Movie Club Card   -->
      <ul>
      {{#each club}}

      {{/each }}
      </ul>

    </div>
  </div>

{{!-- scripts --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
