{{!-- Name for database query variable = club   --}}

  <!-- All Movie Clubs -->
  <div class="container">
    <div class="section">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header title center">Reel Talk</h1>
      <div class="row center">
        <h5 class="header col s12">A place for cinephiles to come together and have meaningful discussions on
          movies, directors and all things cinema</h5>
      </div>
      <div class="row center">
        <button href="http://materializecss.com/getting-started.html" id="login-button" class="btn-large waves-effect waves-light orange" onclick="googleSignIn()">Login
          to Start Discussing</button>
      </div>
      <br><br>

    </div>
  </div>
      <!--   Movie Club Card   -->
      <ul>
      {{#each clubs}}
      {{>club-card-2}}
      {{/each }}
      </ul>
      
    </div>
  </div>

{{!-- scripts --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
<script>
// Initialize Firebase
var config = {
  apiKey: "AIzaSyAMSMRy70ebQVjud8ka4356YPorrb4FYHY",
  authDomain: "reel-talk-app.firebaseapp.com",
  databaseURL: "https://reel-talk-app.firebaseio.com",
  projectId: "reel-talk-app",
  storageBucket: "reel-talk-app.appspot.com",
  messagingSenderId: "76965363317"
};
firebase.initializeApp(config);

// eslint-disable-next-line no-unused-vars
function googleSignIn() {
  let provider = new firebase.auth.GoogleAuthProvider();
  firebase
    .auth()
    .signInWithPopup(provider)
    .then(function(result) {
      console.log("Google account successfully linked!");
    })
    .catch(function(err) {
      console.log(err);
      console.log("login failed");
    });
}

firebase.auth().onAuthStateChanged(user => {
  if (user) {
    console.log(user.uid);
    console.log(user.email);
    let userInfo = {
      userId: user.uid,
      username: user.email
    };
  $.post("api/user/", userInfo).then( function(res) {
    console.log(res);
  });
  sessionStorage.setItem("loggedInUser", JSON.stringify(userInfo));
  }
});
</script>







