@import url('https://fonts.googleapis.com/css?family=Limelight|Righteous');

html{
  background-color: black;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

body {
  background-color: rgba(0, 0, 0, .9);
}

nav {
  box-shadow: 0 5px rgb(255, 255, 255) ;
}

.header {
  color: #f7ee8b;
}

.title {
  font-family: 'Limelight', cursive ;
  color: #ebbb4a;
}

.post-area{
  background-color: #d1d2d4;
}

.discussion-title{
  color: white;
  font-family: 'Limelight', cursive;
}

.poster{
margin-top: 5%;}

.film-strip{
  height: 175px;
  overflow: auto;
  background-size: 100%;
  background-image: url(https://i.pinimg.com/originals/43/c4/20/43c420aa5c6754dcd561d1713db16cea.jpg);
  background-repeat: repeat-y;
}

.current_discussion{
  height: auto;
  border: 1px solid white; 
  margin-bottom: 2%;
}

.main-col{
background-color: #d1d2d4;
}

.disc-col{
  height: 175px;
  text-align: center;
  background-color: #d1d2d4;
}

.row{
  margin-bottom: 0;
}

#login-button{
  background-color: #ebbb4a;
  color: #c9252f;
}

.club-title{
  margin-top: 3%;
  font-family: 'Limelight', cursive ;
  font-size: 32px;
  text-align: center;
  color:#ebbb4a;
}

.club-description{
  text-align: center;
  color: #f7ee8b;
  margin-bottom: 1%;
}

footer{
  bottom: 0;
}